<form [formGroup]="initForm" (ngSubmit)="onSubmit(initForm.value)">
        <mat-form-field>
            <mat-label>Inequalities</mat-label>
            <input required matInput placeholder="0" value="" type="number" formControlName="inequalities">
        </mat-form-field>
    <button type="submit" mat-flat-button>Submit</button>
</form>
<form [formGroup]="functionForm" (ngSubmit)="onFunctionParams(functionForm.value)">
    <strong>E = </strong> 
    <mat-form-field>
        <mat-label>X1</mat-label>
        <input required matInput placeholder="0" value="" type="number" formControlName="X1">
    </mat-form-field>
    <strong>+</strong>
    <mat-form-field>
        <mat-label>X2</mat-label>
        <input required matInput placeholder="0" value="" type="number" formControlName="X2">
    </mat-form-field>
<button type="submit" mat-flat-button>Submit</button>
</form>